OneForAll/data/datasets/train
OneForAll/data/datasets/val
OneForAll/data/datasets/test

OneForAll/pretrained

OneForAll/logs/*.log
OneForAll/logs/train
OneForAll/logs/infer

OneForAll/scripts/slurm*

**/__pycache__

OneForAll/outputs

OneForAll/infer_json.json
