OneForAll/data/datasets/train
OneForAll/data/datasets/val
OneForAll/data/datasets/test
OneForAll/data/datasets/vehicle
OneForAll/data/datasets/pedestrian

OneForAll/pretrained

OneForAll/logs

OneForAll/scripts/slurm*

**/__pycache__

OneForAll/outputs

OneForAll/*.json
